[user]
	name = Albert Gouws
	email = albert@gouws.org
	signingkey = ~/.ssh/id_ed25519_github-com.pub

[alias]
	; logo = log --pretty=tformat:'%m %C(auto,yellow)%h%C(auto,magenta)% G? %C(auto,blue)%>(12,trunc)%ad %C(auto,green)%<(15,trunc)%aN%C(auto,reset)%s%C(auto,red)% gD% D' --date=short
	logo = log --pretty=tformat:'%C(auto,red)%m %C(auto,yellow)%h%C(auto,magenta) %G? %C(auto,blue)%>(12,trunc)%ad %C(auto,green)%<(15,trunc)%aN%C(auto,reset)%s%C(auto,red) %gD %D' --date=short
	adog = log --all --decorate --oneline --graph
	dog = log --decorate --oneline --graph
	bb = !~/.gitscripts/better-git-branch.sh
	bbr = !~/.gitscripts/better-git-branch-remote.sh
	; commit-tally = shortlog -sn --all

	; tally recursive stats for all repos in a directory
	; fd -t d --max-depth=1 -x bash -c 'pushd "{}" > /dev/null;git shortlog -sn --all --since="1 Jan 2014";popd > /dev/null' | awk '{i[$2]+=$1} END{for(x in i){print i[x]" "x}}' | sort -nr

	;history across branches, origin
	habo = for-each-ref --sort=-committerdate refs/remotes/origin/ --format='%(color:blue)%(authordate:format:%Y-%m-%d %I:%M %p) %(color:green)%(align:25,left)%(authorname)%(end) %(color:red)%(refname:strip=3)'
	io = !echo "Incoming commits: " && git logo ..origin/$(git branch --show-current) && echo "Outgoing commits: " && git logo origin/$(git branch --show-current)..

[merge]
	tool = nvim
	conflictstyle = diff3

[mergetool "nvim"]
	cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
	; trustExitCode = true

[mergetool "kdiff3"]
	path = "kdiff3"
	keepBackup = false
	trustExitCode = true

[difftool "kdiff3"]
	cmd = kdiff3 $BASE $REMOTE $LOCAL
	keepbackup = false
	trustExitCode = true

[core]
	autocrlf = input
	excludesFile = ~/.gitignore
	attributesFile = ~/.gitattributes

[commit]
	gpgsign = true

[init]
	defaultBranch = master

[diff]
	submodule = log

[submodule]
	recurse = true

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[gpg]
	format = ssh

[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers

	; Comment this out if you want to use the current workstation SSH key instead of using 1Password
	; on the server you're connected to.  E.g. when working from a laptop and want to commit on
	; agouws.gouws.org, you want to disable this line on agouws.gouws.org so that 1Password does'nt
	; fire up when you only have an SSH session open.
	program = "/opt/1Password/op-ssh-sign"

[rerere]
	enabled = true

[fetch]
	prune = true

[url "https://github.com/killerrat/"]
	insteadOf = ghk:

[url "https://github.com/"]
	insteadOf = ghh:

[url "git@github.com:"]
	insteadOf = ghs:

; Also see /etc/gitconfig
[interactive]
    singleKey = true

[checkout]
	; https://git-scm.com/docs/git-config#Documentation/git-config.txt-checkoutdefaultRemote
	defaultRemote = origin
