[user]
	name = Albert Gouws
	email = albert@gouws.org
	signingkey = /home/albert/.ssh/id_ed25519.pub

[alias]
	; logo = log --pretty=tformat:'%m %C(auto,yellow)%h%C(auto,magenta)% G? %C(auto,blue)%>(12,trunc)%ad %C(auto,green)%<(15,trunc)%aN%C(auto,reset)%s%C(auto,red)% gD% D' --date=short
	logo = log --pretty=tformat:'%C(auto,red)%m %C(auto,yellow)%h%C(auto,magenta) %G? %C(auto,blue)%>(12,trunc)%ad %C(auto,green)%<(15,trunc)%aN%C(auto,reset)%s%C(auto,red) %gD %D' --date=short
	adog = log --all --decorate --oneline --graph
	dog = log --decorate --oneline --graph
	bb = !~/.gitscripts/better-git-branch.sh

[merge]
	tool = nvim
	conflictstyle = diff3

[mergetool "nvim"]
	cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
	; trustExitCode = true
[core]
	autocrlf = input
	excludesFile = ~/.gitignore
	attributesFile = ~/.gitattributes
[commit]
	gpgsign = true
[init]
	defaultBranch = master
[diff]
	submodule = log
[submodule]
	recurse = true
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[rerere]
	enabled = true
