[user]
	name = Albert Gouws
	email = albert@gouws.org
	; signingkey = DEC01321145CA0454B0552A36D3F20479EF521D7!
	signingkey = DEC01321145CA0454B0552A36D3F20479EF521D7

[alias]
	logo = log --pretty=tformat:'%C(auto,yellow)%h%C(auto,magenta)% G? %C(auto,blue)%>(12,trunc)%ad %C(auto,green)%<(15,trunc)%aN%C(auto,reset)%s%C(auto,red)% gD% D' --date=short

[merge]
	tool = nvim
	conflictstyle = diff3

[mergetool "nvim"]
	cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
	; trustExitCode = true
[safe]
	directory = ~/GBox/Applications/Tools/Scripts/Git
	directory = ~/GBox/Applications/Tools/Scripts/Bash
	directory = ~/GBox/Notes
	directory = /mnt/hotelalpha/config
	directory = /mnt/whiskey.agouws.gouws.org/c/Projects.Git/AA
	directory = /mnt/whiskey.agouws.gouws.org/c/Projects.Git/TIL.Orca
	directory = /home/gunther/GBox/Notes/Sandfield ISMS Policies
	directory = /home/albert/GBox/Applications/Tools/Scripts/Docker
	directory = /home/albert/GBox/Applications/Tools/Scripts/hosts
[core]
	autocrlf = input
	excludesFile = ~/.gitignore
[commit]
	gpgsign = true
[init]
	defaultBranch = master
[diff]
	submodule = log
[submodule]
	recurse = true
[pull]
	rebase = true
