.DS_Store
*.pyc

nvim/.config/nvim/plugged/
glazewm/.glaze-wm/errors.log
**/packer_compiled.lua
**/generated/*
i3-manjaro/.config/i3/config
i3-manjaro/.config/i3status/config
alacritty/.config/alacritty/alacritty.yml
progress.txt
